.body{
    display: flex;
}
.left{
    padding: 10ch;
    border:10px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color:darkslategray;
    color:white;
}

a{
    padding-bottom: 15px;
}
.right{
    padding: 10ch;
    border: 10px;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.head p{
    padding-top :2ch; 
    padding-left: 20ch;
    border: 10px;
    margin: 0%;
}
.head{
    display: flex;
}
h1{
    font-family: 'Roboto', sans-serif;
}
h4,p,pre,b{
    font-family: 'Outfit', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}